{{? it }}
{{~ it.alerts :alert }}
{{? alert.status === "firing" }}
🚨 <b>{{= alert.status.toUpperCase() }}</b> 🔥
{{?? true }}
🙌 <b>{{= alert.status.toUpperCase() }}</b> 🍻
{{?}}<br/>
{{? it.commonLabels }}
<b>alert:</b> {{= it.commonLabels.alertname || "unknown" }}<br/>
<b>instance:</b> {{= it.commonLabels.instance || "unknown" }}<br/>
<b>service:</b> {{= it.commonLabels.service || "unknown" }}<br/>
<b>severity:</b> {{= it.commonLabels.severity || "unknown" }}<br/>
{{?}}
{{? alert.annotations || it.commonAnnotations }}
<b>summary:</b> {{= (alert.annotations && alert.annotations.summary) || (it.commonAnnotations && it.commonAnnotations.summary) || "none" }}<br/>
<b>message:</b> {{= (alert.annotations && alert.annotations.message) || (it.commonAnnotations && it.commonAnnotations.message) || "none" }}<br/>
<b>description:</b> {{= (alert.annotations && alert.annotations.description) || (it.commonAnnotations && it.commonAnnotations.description) || "none" }}<br/>
{{?}}
<br/>
{{? alert.startsAt }}
<b>Started at:</b> {{= new Date(alert.startsAt).toLocaleDateString("en-GB", { dateStyle: "long", timeStyle: "long" }) }}<br/>
{{?}}
{{? alert.status === "resolved" }}
<b>Ended at:</b> {{= new Date(alert.endsAt).toLocaleDateString("en-GB", { dateStyle: "long", timeStyle: "long" }) }}<br/>
{{?}}
{{~}}
{{?}}
